<!DOCTYPE html>
<html lang="ko" id="facebook" class="">
<head>
    <!-- 메타 정보 -->
    <meta charset="utf-8" />
    <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer"/>
    <meta property="og:site_name" content="Facebook"/>
    <meta property="og:url" content="https://ko-kr.facebook.com/"/>
    <meta property="og:image" content="https://www.facebook.com/images/fb_icon_325x325.png"/>
    <meta property="og:locale" content="ko_KR"/>
    <meta name="description" content="Facebook에 로그인하세요. 친구, 가족, 지인들과 함께 하는 즐거운 Facebook 생활이 시작됩니다."/>
    
    <!-- 링크 -->
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.facebook.com/"/>
    <link rel="shortcut icon" href="https://static.xx.fbcdn.net/rsrc.php/yb/r/hLRJ1GG_y0J.ico"/>
    <!-- 제목 : 상단 탭에 표시 됨 -->   
    <title id="pageTitle">login page</title>
</head>
<style>
    body {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;}
    .logo {text-align: center;}
    .logo img { width: 20%; }
    p.headline {font-size: 26px; letter-spacing: 1px;  text-align: center;}
</style>
<body>
    <!-- head text -->
    <div class="logo"><img src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="facebook-logo-img"></div>
    <p class="headline"> <b>Facebook</b>에서 전세계에 있는 친구, 가족, 지인들과 함께 이야기를 나눠보세요. </p>

    <!-- form -->
    <form>
        <input type="text" name="login_id" placeholder="이메일 또는 전화번호">
        <input type="password" placeholder="비밀 번호">
        <button type="submit">로그인</button>
    </form>
    <a href="identify.html">비밀번호를 잊으셨나요?</a>
    <a href="regist.html">새 계정 만들기</a>
    <p>유명인, 브랜드 또는 비지니스를 위한 <a href="create.html">페이지 만들기</a></p>
    <p class="copyright">Meta &#169; 2022</p>
</body>
</html>