<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register page</title>
</head>
<style>
    body {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;}
    .logo {text-align: center;}
    .logo img { width: 20%; }
    p.headline {font-size: 26px; letter-spacing: 1px;  text-align: center;}
</style>
<body>
    <!-- head text -->
    <div class="logo"><img src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="facebook-logo-img"></div>
    <p class="headline"> 새 계정 만들기 <br> 빠르고 쉽습니다.</p>

    <!-- 계정 등록하는 폼 -->
    <form>
        <div>
            <label for="first-name">성(姓)</label>
            <input type="text" name="" id="">
        </div>
        <div>
            <label for="last-name">이름(성 제외)</label>
            <input type="text" id="">
        </div>
        <div>
            <label for="id">휴대폰 번호 혹은 이메일 주소</label>
            <input type="text" id="">
        </div>
        <div>
            <label for="password">새 비밀번호</label>
            <input type="password" id="">
        </div>

        <!-- 기타 개인정보 입력란-->
        <div>
            <label for="password">새 비밀번호</label>
            <input type="password" id="">
        </div>
        <div>
            <label for="rdo">select</label>
            <input type="radio" id="rdo">
        </div>
    </form>
</body>
</html>